@import "tailwindcss";
/* @tailwind utilities; */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --default-font-family: Favorit, Arial, sans-serif;
  --color-sine-green: #B7F2CE;
  --color-sine-purple: #E9AEFF;
  --color-sine-blue: #B4EDFF;
  --color-sine-red: #FF8F9D;
  --color-sine-yellow: #FFF493;
  --font-weight-bold: 500;
}

@font-face {
  font-family: "Favorit";
  src: url("/fonts/Favorit-Light.woff2") format("woff2"),
    url("/fonts/Favorit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("/fonts/Favorit-Medium.woff2") format("woff2"),
    url("/fonts/Favorit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
}
