@import "tailwindcss";
/* @tailwind utilities; */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-sine-green: #B7F2CE;
  --color-sine-purple: #E9AEFF;
  --color-sine-blue: #B4EDFF;
  --color-sine-red: #FF8F9D;
  --color-sine-yellow: #FFF493;

  --animate-blink: blink 2s infinite both;

  @keyframes blink {

    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
  }

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
}
